.yayin-akisi {
  color: #ff5722;
  font-size: 1.375rem;
  font-weight: 700;
  max-width: calc(100% - 106px);
}

.news {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 54rem;
}

.news-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 2rem;
}

.news-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.news-content .news-tag {
  font-size: 0.8rem;
  font-weight: 700;
  color: #999;
  display: table-cell;
}

.news-left span {
  font-size: 0.6rem;
  color: #999;
  text-align: center;
  white-space: nowrap;
}

.icon {
  background-color: #ff9800;
  border-radius: 5rem;
  color: #fff;
  font-size: 25px;
  padding: 1rem;
}

.img {
  width: 17rem;
  cursor: pointer;
}

.arrow {
  align-items: center;
  font-size: 15px;
  margin-left: 5px;
  color: #999;
}

.news-content,
.news-author,
.news-content {
  font-size: 0.8rem;
  font-weight: 400;
}

.news-author,
.arrow {
  color: #999;
  transition: 0.2s all;
}

.news-author:hover,
.arrow:hover,
.news-tag:hover {
  color: black;
}

h2:hover {
  color: #ff5722;
  cursor: pointer;
}

@media screen and (max-width: 965px) {
    .news-section{
        margin: auto;
    }
}

@media screen and (max-width: 680px){
    .news-section{
        width: 95vw;
        margin: auto;
    }
    
    .yayin-akisi{
        text-align: center;
        margin: auto;
        font-size: 2rem;
    }

    .news-icon{
        display: none;
    }

    .news{
        flex-direction: column;
    }

    .news-right{
        flex-direction: column;
    }

    .news-img{
        width: 100%;
    }

    .news-left {
        display: none;
    }
    

    .news::after{
        background-color: #EEE;
        height: 1px;
        content: '';
        display: block;
        width: calc(100% + 2rem);
        margin: 1rem -1rem 0;
    }

    .news-content h2{
        font-weight: 400;
    }

    .news-content span{
        display: block;
    }

    .news-meta{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
